In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('exams.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

The scores of the test range from 0-100. Depending on how we bin the results, it can either be binary or multi-class
classification. If it is binned into pass of fail, it is binary. If the results are binned to grade, it will be multi-class.
The goal of the dataset analysis is predict whether or not the student would pass based on the variables. The study was done to see if the test preperation had an impact on the test scores.

In [3]:
df.shape

(1000, 8)

This dataset contains 1000 samples with 5 factor independent factors and 3 dependent factors that are test score.

In [ ]:
df.info()

There are no null values in this dataframe. 1000/1000 rows are non-null for every column.
Columns for independent features are all object(strings). The dependent features are all continous numbers ranging from 0-100.
The independant variables are objects are type strings and the scores are integers in 64 bits.

## Features

The main factor that is thought to have an effect on test scores is the test preperation completion. The purpose of the test preperation was to prepare the subject with knowledge for the test. Another possible factor is the  parental level of education. As the level of education a subject has shows their level of knowledge which can then lead to higher test results. Gender, race/ethinicty and lunch are believed to have no effect on test results since a subjects gender/race does not effect their knowledge. Lunch is also thought to have 0 effect as purchasing lunch has no effect on intelligence.